- content_for :breadcrumbs do
  = breadcrumbs(["Admin Home", "#"], ["Google", "http://google.com"], "Studio Home").html_safe
  
%h1 Headline H1
%p
  Paragraph text P. Milyoni provides a full suite of Social Media products and services, from planning gy to creating
  custom applications and driving ROI with our ifanstore platform.
%h2 Headline H2
%p
  Paragraph text P. Milyoni provides a full suite of Social Media products and services, from planning gy to creating
  custom applications and driving ROI with our ifanstore platform.

%h3 Page Actions (Headline H3)

.pageActions
  = link_to "Button Text", "#", :class => "butTextBlue"
