%script{:type => "text/javascript"}
  -if !current_admin.studio.present?
    $("a.tn01").removeClass("tnOn");
    $("a.tn02").removeClass("tnOn");
    $("a.tn03").removeClass("tnOn");
    $("a.tn04").removeClass("tnOn");
    $("a.tn05").removeClass("tnOn");
    $("a.tn06").addClass("tnOn");
    $("#subnavlist2").hide();
    $("#subnavlist3").hide();
    $("#subnavlist4").hide();
    $("#subnavlist5").hide();
    $("#subnavlist6").show();
    $("a.sub04").addClass("subOn");
  -else
    $("a.tn02").addClass("tnOn");
    $("#subnavlist1").hide();
    $("#subnavlist2").show();
    $("#subnavlist3").hide();
    $("#subnavlist4").hide();
    $("#subnavlist5").hide();
    $("#subnavlist6").hide();
    $("a.sub03").addClass("subOn");
= semantic_form_for [:admin, @invitation] do |f|
  = f.inputs do
    = f.input :email, :required => true
  = f.submit "Send"
