%script{:type => "text/javascript"}
  $("a.tn02").addClass("tnOn");
  $("#subnavlist1").hide();
  $("#subnavlist2").hide();
  $("#subnavlist3").hide();
  $("#subnavlist4").show();
  $("#subnavlist5").hide();
  $("#subnavlist6").hide();
  $("a.sub06").addClass("subOn");
  


= #render :partial => 'admin/studios/nav', :locals => {:active_tab => "Studio Edit"}
.navTabContent

  = render :partial => "studio", :object => @studio


