%script{:type => "text/javascript"}
  $("a.tn05").addClass("tnOn");
  $("#subnavlist1").hide();
  $("#subnavlist2").hide();
  $("#subnavlist3").hide();
  $("#subnavlist4").hide();
  $("#subnavlist5").show();
  $("#subnavlist6").hide();
  $("a.sub03").addClass("subOn");
%h1 Tutorial Page is Under Construction
%img{:alt => "under", :src => "/images/page_under_construction1.gif"}
