@charset "UTF-8";
/* MIXINS */
/* line 2, ../../app/stylesheets/_tom_reset.scss */
html {
  overflow-y: scroll;
  /* forces firefox scrollbar on */
}

/* line 6, ../../app/stylesheets/_tom_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 16, ../../app/stylesheets/_tom_reset.scss */
body {
  line-height: 1;
}

/* line 20, ../../app/stylesheets/_tom_reset.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../app/stylesheets/_tom_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../../app/stylesheets/_tom_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
/* line 35, ../../app/stylesheets/_tom_reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 40, ../../app/stylesheets/_tom_reset.scss */
ins {
  text-decoration: none;
}

/* line 44, ../../app/stylesheets/_tom_reset.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 49, ../../app/stylesheets/_tom_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 55, ../../app/stylesheets/_tom_reset.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: top;
  font-size: .83em;
  color: #595959;
  line-height: 1.3em;
}

/* line 63, ../../app/stylesheets/_tom_reset.scss */
.clearfix:after, .clear {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

/* line 71, ../../app/stylesheets/_tom_reset.scss */
hr {
  margin: 0;
  padding: 0;
  background: #000;
  color: #000;
  height: 1px;
  border: none;
  display: block;
}

/* line 81, ../../app/stylesheets/_tom_reset.scss */
.altColor {
  background: #d9e8a3;
}

/* line 85, ../../app/stylesheets/_tom_reset.scss */
p, ul, ol, dl, table {
  margin-bottom: 15px;
}

/* line 89, ../../app/stylesheets/_tom_reset.scss */
li {
  list-style: disc;
  margin-left: 25px;
}

/*.altText {color:#000; font-size:1.091em;}
.altText li {margin-bottom:10px; padding-left:14px; background:url(../images/admin/arrow-common.png) no-repeat 0 3px; list-style:none; margin-left:0;}
.altColor .altText li {background:url(../images/admin/arrow-common-alt.png) no-repeat 0 3px;}

.listSBS li {width:125px; float:left;}*/
/* =2 Links
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* line 15, ../../app/stylesheets/admin_template.scss */
a {
  color: #0d5cab;
  text-decoration: none;
}

/* line 20, ../../app/stylesheets/admin_template.scss */
a:hover {
  color: #0d5cab;
  text-decoration: underline;
}

/* line 25, ../../app/stylesheets/admin_template.scss */
a:visited {
  color: #0d5cab;
}

/* =3 Headings
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* line 31, ../../app/stylesheets/admin_template.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* line 36, ../../app/stylesheets/admin_template.scss */
h1, h2 {
  color: #0d5cab;
  font-weight: normal;
}

/* line 41, ../../app/stylesheets/admin_template.scss */
h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 0px;
}

/* line 47, ../../app/stylesheets/admin_template.scss */
h2 {
  font-size: 1.636em;
  margin-bottom: 5px;
}

/* line 52, ../../app/stylesheets/admin_template.scss */
h3 {
  font-size: 1em;
}

/* line 53, ../../app/stylesheets/admin_template.scss */
h4 {
  font-size: .875em;
}

/* line 54, ../../app/stylesheets/admin_template.scss */
h5 {
  font: .75em;
}

/* =4 Header
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* line 58, ../../app/stylesheets/admin_template.scss */
#header {
  height: 100px;
  position: relative;
  background: #fff;
}

/* line 64, ../../app/stylesheets/admin_template.scss */
#logo {
  float: left;
  margin-top: 14px;
}

/* line 69, ../../app/stylesheets/admin_template.scss */
#phonetics {
  position: absolute;
  top: 23px;
  left: 156px;
}

/* line 75, ../../app/stylesheets/admin_template.scss */
DIV.adminTitle {
  position: absolute;
  top: 63px;
  left: 156px;
  font-size: 30px;
  color: #0d5cab;
}

/*MAIN FLASH*/
/* line 84, ../../app/stylesheets/admin_template.scss */
#bannerMain img {
  float: left;
}

/* line 88, ../../app/stylesheets/admin_template.scss */
DIV.tertiary {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: .9em;
}

/* =6 Middle
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* line 97, ../../app/stylesheets/admin_template.scss */
#dropshadow {
  width: 795px;
  padding: 13px 47px 15px 45px;
  margin: 20px auto 20px auto;
  background: url(../images/admin/sprite-dropshadow.png) repeat-y -900px 0;
  position: relative;
}

/* line 105, ../../app/stylesheets/admin_template.scss */
#dropshadowTop {
  height: 13px;
  display: block;
  background: url(../images/admin/sprite-dropshadow.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  _width: 889px;
}

/* line 117, ../../app/stylesheets/admin_template.scss */
#dropshadowBot {
  height: 15px;
  display: block;
  background: url(../images/admin/sprite-dropshadow.png) no-repeat -1800px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  _width: 889px;
}

/* line 129, ../../app/stylesheets/admin_template.scss */
#allcontent {
  width: 797px;
}

/* line 133, ../../app/stylesheets/admin_template.scss */
#allcontent:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

/* line 141, ../../app/stylesheets/admin_template.scss */
#breadcrumbs {
  color: #000;
  font-size: 13px;
  padding: 9px 12px;
  margin-top: 7px;
}
/* line 147, ../../app/stylesheets/admin_template.scss */
#breadcrumbs a {
  color: #12245;
}

/* line 152, ../../app/stylesheets/admin_template.scss */
DIV.pageActions {
  float: right;
}
/* line 155, ../../app/stylesheets/admin_template.scss */
DIV.pageActions a {
  margin-bottom: 5px;
}

/* line 160, ../../app/stylesheets/admin_template.scss */
DIV.pageActions-left, #forgotYourPassword {
  float: left;
}
/* line 163, ../../app/stylesheets/admin_template.scss */
DIV.pageActions-left a, #forgotYourPassword a {
  margin-bottom: 5px;
}

/* line 168, ../../app/stylesheets/admin_template.scss */
label {
  font-weight: bold;
}

/* line 172, ../../app/stylesheets/admin_template.scss */
.logOutlink {
  float: right;
}

/* line 176, ../../app/stylesheets/admin_template.scss */
.greenBar {
  background: #8cc63f;
  height: 4px;
}

/* line 181, ../../app/stylesheets/admin_template.scss */
input[type=submit] {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold !important;
  display: block;
  text-align: center;
  padding: 5px 15px !important;
  background: #0d5cab;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0D5CAB', endColorstr='#FF879ED5');
  /* for IE */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d5cab), color-stop(100%, #879ed5));
  background-image: -webkit-linear-gradient(#0d5cab, #879ed5);
  background-image: -moz-linear-gradient(#0d5cab, #879ed5);
  background-image: -o-linear-gradient(#0d5cab, #879ed5);
  background-image: -ms-linear-gradient(#0d5cab, #879ed5);
  background-image: linear-gradient(#0d5cab, #879ed5);
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* line 195, ../../app/stylesheets/admin_template.scss */
input[type=submit]:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF879ED5', endColorstr='#FF0D5CAB');
  /* for IE */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #879ed5), color-stop(100%, #0d5cab));
  background-image: -webkit-linear-gradient(#879ed5, #0d5cab);
  background-image: -moz-linear-gradient(#879ed5, #0d5cab);
  background-image: -o-linear-gradient(#879ed5, #0d5cab);
  background-image: -ms-linear-gradient(#879ed5, #0d5cab);
  background-image: linear-gradient(#879ed5, #0d5cab);
}

/* line 199, ../../app/stylesheets/admin_template.scss */
input[type=text], input[type=notUrl], textarea {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF3F3F3');
  /* for IE */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(#ffffff, #f3f3f3);
  background-image: -moz-linear-gradient(#ffffff, #f3f3f3);
  background-image: -o-linear-gradient(#ffffff, #f3f3f3);
  background-image: -ms-linear-gradient(#ffffff, #f3f3f3);
  background-image: linear-gradient(#ffffff, #f3f3f3);
  border: 1px solid #cccccc;
  padding: 2px !important;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

    /* =7 Form
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* line 210, ../../app/stylesheets/admin_template.scss */
DIV.navTabContent {
  /*border: 1px solid $darkerGreyBackground;
  background: $lightGreyBackground;*/
  margin-top: -8px;
  padding: 15px 5px 15px 20px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  -o-border-radius: 0 5px 5px 5px;
  -ms-border-radius: 0 5px 5px 5px;
  -khtml-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
  margin-bottom: 5px;
}

/* line 219, ../../app/stylesheets/admin_template.scss */
DIV.navTabContent1 {
  border: 1px solid #cccccc;
  background: #fafafa;
  margin-top: 4px;
  margin-top: -8px;
  padding: 15px 5px 15px 20px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  -o-border-radius: 0 5px 5px 5px;
  -ms-border-radius: 0 5px 5px 5px;
  -khtml-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
  margin-bottom: 5px;
}

/* line 229, ../../app/stylesheets/admin_template.scss */
UL.navTabs {
  padding: 0px;
  list-style: none;
  margin-top: 15px;
}
/* line 235, ../../app/stylesheets/admin_template.scss */
UL.navTabs li {
  margin: 0px 2px 0 0;
  list-style: none;
  float: left;
}
/* line 240, ../../app/stylesheets/admin_template.scss */
UL.navTabs li a {
  border: 1px solid #cccccc;
  border-bottom: 0px;
  padding: 5px 20px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFAFAFA', endColorstr='#FFCCCCCC');
  /* for IE */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#fafafa, #cccccc);
  background-image: -moz-linear-gradient(#fafafa, #cccccc);
  background-image: -o-linear-gradient(#fafafa, #cccccc);
  background-image: -ms-linear-gradient(#fafafa, #cccccc);
  background-image: linear-gradient(#fafafa, #cccccc);
}
/* line 254, ../../app/stylesheets/admin_template.scss */
UL.navTabs li a:hover {
  text-decoration: none;
  background: #fafafa;
}
/* line 259, ../../app/stylesheets/admin_template.scss */
UL.navTabs li a.tabOn {
  border-bottom: 1px solid #fafafa;
  background: #fafafa;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0D5CAB', endColorstr='#FFFAFAFA');
  /* for IE */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkNWNhYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d5cab), color-stop(100%, #fafafa));
  background-image: -webkit-linear-gradient(#0d5cab, #fafafa);
  background-image: -moz-linear-gradient(#0d5cab, #fafafa);
  background-image: -o-linear-gradient(#0d5cab, #fafafa);
  background-image: -ms-linear-gradient(#0d5cab, #fafafa);
  background-image: linear-gradient(#0d5cab, #fafafa);
  font-weight: bold;
  cursor: default;
}

/* line 272, ../../app/stylesheets/admin_template.scss */
hr {
  margin-bottom: 10px;
}

/* =8 Extra
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* line 279, ../../app/stylesheets/admin_template.scss */
table.gridTable {
  border-collapse: collapse;
}
/* line 282, ../../app/stylesheets/admin_template.scss */
table.gridTable th {
  text-align: left;
  background: #cccccc;
  padding: 6px 15px 6px 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFCCCCCC');
  /* for IE */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#f3f3f3, #cccccc);
  background-image: -moz-linear-gradient(#f3f3f3, #cccccc);
  background-image: -o-linear-gradient(#f3f3f3, #cccccc);
  background-image: -ms-linear-gradient(#f3f3f3, #cccccc);
  background-image: linear-gradient(#f3f3f3, #cccccc);
  border: 1px solid #eeeeee;
}
/* line 290, ../../app/stylesheets/admin_template.scss */
table.gridTable td {
  padding: 4px 15px 4px 10px;
  border: 1px solid #eeeeee;
}
/* line 294, ../../app/stylesheets/admin_template.scss */
table.gridTable td.center {
  text-align: center;
}

/* line 300, ../../app/stylesheets/admin_template.scss */
table.SalesReportTable {
  border-collapse: collapse;
}
/* line 303, ../../app/stylesheets/admin_template.scss */
table.SalesReportTable th {
  text-align: center;
  background: #cccccc;
  padding: 1px 1px 0px 0px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF3F3F3', endColorstr='#FFCCCCCC');
  /* for IE */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#f3f3f3, #cccccc);
  background-image: -moz-linear-gradient(#f3f3f3, #cccccc);
  background-image: -o-linear-gradient(#f3f3f3, #cccccc);
  background-image: -ms-linear-gradient(#f3f3f3, #cccccc);
  background-image: linear-gradient(#f3f3f3, #cccccc);
  border: 1px solid #eeeeee;
}
/* line 312, ../../app/stylesheets/admin_template.scss */
table.SalesReportTable td {
  padding: 4px 15px 0px 0px;
  border: 1px solid #eeeeee;
}
/* line 316, ../../app/stylesheets/admin_template.scss */
table.SalesReportTable td.center {
  text-align: center;
}

/* line 322, ../../app/stylesheets/admin_template.scss */
A.butTextBlue {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  height: 23px;
  padding: 6px 10px 0 10px;
  background: #0d5cab;
  font-size: 13px;
  line-height: 18px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0D5CAB', endColorstr='#FF879ED5');
  /* for IE */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBkNWNhYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg3OWVkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d5cab), color-stop(100%, #879ed5));
  background-image: -webkit-linear-gradient(#0d5cab, #879ed5);
  background-image: -moz-linear-gradient(#0d5cab, #879ed5);
  background-image: -o-linear-gradient(#0d5cab, #879ed5);
  background-image: -ms-linear-gradient(#0d5cab, #879ed5);
  background-image: linear-gradient(#0d5cab, #879ed5);
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 338, ../../app/stylesheets/admin_template.scss */
A.butTextBlue:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
  height: 23px;
  padding: 6px 10px 0 10px;
  background: #0d5cab;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF879ED5', endColorstr='#FF0D5CAB');
  /* for IE */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3OWVkNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBkNWNhYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #879ed5), color-stop(100%, #0d5cab));
  background-image: -webkit-linear-gradient(#879ed5, #0d5cab);
  background-image: -moz-linear-gradient(#879ed5, #0d5cab);
  background-image: -o-linear-gradient(#879ed5, #0d5cab);
  background-image: -ms-linear-gradient(#879ed5, #0d5cab);
  background-image: linear-gradient(#879ed5, #0d5cab);
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 353, ../../app/stylesheets/admin_template.scss */
.buttons ol A.butTextBlue {
  width: 85px;
  float: left;
  margin-left: 25px;
  font-size: 11px;
  padding: 3px 0px 0px !important;
  text-align: center;
  text-decoration: none;
}

/* line 363, ../../app/stylesheets/admin_template.scss */
A.butTwo:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  border: 1px solid #eeeeee;
  background: #879ed5;
  color: #dce9c1;
}

/* =9 Footer
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* line 375, ../../app/stylesheets/admin_template.scss */
#footer {
  border-top: 13px solid #0d5cab;
  clear: both;
  text-align: right;
  color: #0d5cab;
  font-weight: bold;
  padding: 7px 0;
  font-size: .909em;
  background-color: #fff;
  margin-top: 2em;
}
/* line 386, ../../app/stylesheets/admin_template.scss */
#footer a {
  color: #000;
  border-left: 1px solid #86aed5;
  padding: 0 6px 0 4px;
}
/* line 391, ../../app/stylesheets/admin_template.scss */
#footer a:hover {
  color: #86aed5;
}

/* line 395, ../../app/stylesheets/admin_template.scss */
#ui-datepicker-div {
  background-color: white;
}

/* line 398, ../../app/stylesheets/admin_template.scss */
.ui-datepicker-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 404, ../../app/stylesheets/admin_template.scss */
.ui-datepicker-prev {
  float: left;
}

/* line 407, ../../app/stylesheets/admin_template.scss */
.ui-datepicker-next {
  float: right;
}
